EXPO_PUBLIC_API_BASE_URL=http://YOUR_COMPUTER_LAN_IP:5171
EXPO_PUBLIC_WEB_BASE_URL=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
MOVEVN_IOS_BUNDLE_IDENTIFIER=
MOVEVN_ANDROID_PACKAGE=
